body {
  background-color: "black" !important;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("./fonts/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes SlideFadeIn {
  0% {
    opacity: 0;
    margin-top: 50px;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    margin-left: 1000px;
    filter: drop-shadow(-5px -5px -5px #222);
  }

  100% {
    transform: rotate(-720deg);
    margin-left: 0px;
    filter: drop-shadow(5px 5px 5px #222);
  }
}

@keyframes updown {
  0% {
    margin-top: 12px;
  }

  50% {
    margin-top: 2px;
  }

  100% {
    margin-top: 12px;
  }
}

a {
  transition: 2s all;
}

.Motto {
  font-family: "Manrope";
  font-size: larger;
  background: -webkit-linear-gradient(120deg, #639bff, #a7c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
